@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int quantity = 0;

    HttpCookie cookieInBrowser = Request.Cookies["ProductListCookie"];
}

@using System.Collections.Generic
@using OnlineSale.Models
@using OnlineSale.Areas.AdminPart.Models.OnlineSaleTable
@model OnlineSale.Models.HomeView
<p class="text-center font-weight-bold"><img src="~/Content/LogoImage/shoppingCat.png" alt="səbət" />Mənim səbətim</p>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        @if (Model.StockIdList != null)
        {
            <table class="table table-responsive-lg table-responsive-sm table-bordered table-hover">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th style="vertical-align:middle">Məhsul adı</th>
                        <th style="vertical-align:middle">Məhsul kodu</th>
                        <th style="vertical-align:middle">Qiymət</th>
                        <th style="vertical-align:middle">Miqdar</th>
                        <th style="vertical-align:middle"><a href="/Home/CleanCart" class="btn-sm btn btn-warning"><b>Səbəti təmizlə</b></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StockIdList)
                    {
                        quantity++;
                        <tr class="text-center">
                            <td style="vertical-align:middle">
                                <b>@item.ProductName</b><br />
                                <img style="height:40%" src="~/Content/ProductMainImg/@item.MainPhotoPath" />
                            </td>
                            <td style="vertical-align:middle"><b style="background-color:yellow">@item.ProductCode</b></td>
                            <td style="vertical-align:middle" class="priceItem">@item.Price</td>
                            <td style="vertical-align:middle;cursor:pointer">
                                <div class="btn-group">
                                    <div class="font-weight-bold btn-sm btn btn-primary" onclick="decrementFunc(@quantity)">-</div>
                                    <input type="number" class="font-weight-bold text-center cookieTextBox" readonly onchange="totalSum()" min="1" step="1" max="20" value="@item.Quantity" />
                                    <div class="font-weight-bold btn-sm btn btn-secondary" onclick="incrementFunc(@quantity)">+</div>
                                </div>
                            </td>
                            <td style="vertical-align:middle"><a href="/Home/RemoveItem/@item.Id" title="Bu məhsulu sil"><img src="~/Content/LogoImage/basket.png" /></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="text-center font-weight-bold table-warning">
                        @{
                            double num = 0;
                            foreach (var item in Model.StockIdList)
                            {
                                num = num + (item.Price * item.Quantity);
                            }
                        }
                        <td style="vertical-align:middle" colspan="5" id="totalPrice">Ümümi məbləğ: @num &#8380</td>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            @*<p class="text-center font-weight-bold text-muted">@ViewBag.CookieResult</p>*@
            <p class="text-center font-weight-bold text-muted"><label>@Model.FeedBackMessage</label></p>
        }
    </div>
</div>
<div class="row clearfix" style="height:10px"></div>
@if (cookieInBrowser != null)
{
    <div class="row" id="purchase-btn">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <a href="/Home/Index" class="btn-lg btn-sm btn btn-outline-secondary offset-xl-2 col-xl-8 offset-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-1 mr-2">&#8592 Seçimi davam etdir</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="btn-sm btn-danger offset-xl-2 col-xl-8 offset-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 text-center" style="cursor:pointer" onclick="purchaseOpenClose()">Şifariş et</div>
        </div>
    </div>
}
<div class="row" id="purchase-form" style="display:none">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        @using (Html.BeginForm("CheckOut", "Home", FormMethod.Post, new { autocomplete = "off", @class = "form-horizontal row" }))
        {
            <div class="offset-xl-3 col-xl-6 offset-xl-3 offset-lg-3 col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                @Html.Label("Ad", new { @class = "col-form-label font-weight-bold" })
                @Html.TextBoxFor(m => new { m.Customers.Firstname }.Firstname, new { @class = "form-control col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" })
                @Html.Label("Soyad", new { @class = "col-form-label font-weight-bold" })
                @Html.TextBoxFor(m => new { m.Customers.Lastname }.Lastname, new { @class = "form-control col-xl-12 col-md-12 col-sm-12 col-12" })
                @Html.Label("Email", new { @class = "col-form-label font-weight-bold" })
                @Html.TextBoxFor(m => new { m.Customers.Email }.Email, new { @class = "form-control col-xl-12 col-md-12 col-sm-12 col-12", placeholder = "Sənədlər bu ünvana göndəriləcək" })
                @Html.Label("Əlaqə nömrəsi", new { @class = "col-form-label font-weight-bold" })
                @Html.TextBoxFor(m => new { m.Customers.MobileNumber }.MobileNumber, new { @class = "form-control col-xl-12 col-md-12 col-sm-12 col-12 mb-2", placeholder = "+994 (--)-(---)-(--)-(--)" })
                <input type="submit" value="Rəsimləşdir" class="btn-lg btn-sm btn btn-outline-success col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 mb-1" />
            </div>
        }
    </div>
</div>
<div class="row clearfix" style="height:10px"></div>

